.home-bg
{
    background-image: url('../img/car-service.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}


.home-bg p
{
    color: #ffc023;
    font-size: 20px;
    font-weight: 600;
}

.home-bg h1
{
    background: -webkit-linear-gradient(#fff, #e9edf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
}

.home-bg .btn-theme
{
    color: white;
    background-color: black;
    border: 2px solid #ffc023;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 30px;
}

.service-section
{
    background: black;
}

.service-section p
{
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

.home-bg h4
{
    color: white;
    font-style: italic;
    font-size: 1.3rem;
}

#service-btn:hover
{
    color: black;
    background-color: white;
    border: 2px solid rgb(48, 47, 47);
}

.service-section p:before
{
    content: '';
    width: 100px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: 7px;
    right: 0;
    margin: 0 auto;
}

.service-section .service-wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.service-section .service-wrapper img
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s;
}

.service-section .service-wrapper:hover img
{
    transform: scale(1.2,1.2);
}

.service-section .service-wrapper .service-name
{
    background: linear-gradient(0deg, #191919 20%, #363636 75%);
    color: white;
    bottom: 0px;
    font-weight: 600;
}

.about-us label
{
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.about-us label > span
{
    color:#f91942;
    font-size: 1.4rem;
    font-weight: 800;
}

.about-us span
{
    color:white;
    font-size: 1rem;
    font-weight: 400;
}

.about-us img
{
    width: 100%;
}


.about-us label::before
{
    content: '';
    width: 47px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: -91%;
    bottom: -5px;
    right: 0;
    margin: 0 auto;
}

.choose-section
{
    background: white;
}

.choose-section .choose-text p
{
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.choose-section .choose-text span
{
    color: #f91942;
}

.choose-section .choose-text label
{
    color: #818181;
    font-size: 1.2rem;
}


.choose-section .choose-text p::before
{
    content: '';
    width: 120px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: 35px;
    right: 0;
    margin: 0 auto;
}


@media only screen and (max-device-width: 480px){
    .choose-section .choose-text p::before
    {
        bottom: 67px;
    }
}


.choose-wrapper .item
{
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 3px solid #f91942;
    height: 100%;
}


.item .icon {
    font-size: 40px;
    margin-bottom:25px;
    color: #f91942;   
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
    display: inline-block;
}

.item .feature_box_col_one{
    background:rgba(247, 198, 5, 0.20);
    color:#f91942
}
.item .feature_box_col_two{
    background:rgba(255, 77, 28, 0.15);
    color:#f91942
}
.item .feature_box_col_three{
    background:rgba(0, 147, 38, 0.15);
    color:#f91942
}

.item h6
{
    font-weight: 600;
    font-size: 1rem;
}

.service-height
{
    height: 270px;
}

iframe
{
    display: block;
    width: 90%;
    max-width: 60rem;
    height: 28em;
    border: 1px solid black;
}

.contact-section
{
    background-image: url('../img/contact-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact h3
{
    font-weight: 600;
    color: white;
}

.contact .icon
{
    font-size: 1.6rem;
    color: #ffc023;
}

.contact label
{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.contact p
{
    color: #c9c9c9;
}


.footer
{
    background: black;
}


.footer p
{
    font-weight: 400;
    color: white;
    font-size: 0.8rem;
}


/* @media (min-width: 768px) 
{
    
    .home-bg
    {
        min-height: 40vh; 
    }
} */