body
{
    font-family: 'Lato', sans-serif !important;
}

nav img
{
    width: 180px;
    object-fit: contain;
}

.navbar
{
    box-shadow: 0 2px 3px rgba(28,28,28,.1);
}

.navbar-light .navbar-nav a
{
    font-size: 20px;
    font-weight: 600;
    color: #a4a49f;
}

.navbar-light .navbar-nav a:hover
{
    text-decoration: none;
}


.active
{
    color: black !important;
}

